.big-button{
    background: $purple;
    border: none;
    border-bottom: .4rem solid darken($purple, 10%);
    border-right: .4rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    width: 100%;
    padding: 2.4rem;
}

@media (min-width: $desktop-breakpoint){
    .big-button{
        margin-bottom: $xl-size;
    }
}

.big-button:disabled{
    opacity: .5;
}

button {
    background: $purple;
    border: none;
    border-bottom: .2rem solid darken($purple, 10%);
    border-right: .2rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link{
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
    font-size: $m-size;
}